# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0
*kdev4*
build/*
doc/Doxyfile
doc/doc*
doc/html*
doc/latex*
*.diff
*.patch
install/*
.vscode
CMakeLists.txt.user
.clang-format
compile_commands.json
.cache/
.flatpak-builder/
