[Desktop Entry]
Name=AtCore Test Client
Name[ast]=Veceru de prueba d'AtCore
Name[ca]=Client de prova de l'AtCore
Name[ca@valencia]=Client de prova de l'AtCore
Name[cs]=Testovací klient AtCore
Name[da]=AtCore-testklient
Name[de]=AtCore-Testprogramm
Name[el]=Εφαρμογή δοκιμής AtCore
Name[en_GB]=AtCore Test Client
Name[es]=Cliente de prueba de AtCore
Name[gl]=Cliente de probas de AtCore
Name[nl]=AtCore testclient
Name[pl]=Klient testowy AtCore
Name[pt]=Cliente de Testes do AtCore
Name[pt_BR]=Cliente de teste AtCore
Name[ru]=Тестовый клиент AtCore
Name[sk]=AtCore Test Klient
Name[sv]=AtCore testklient
Name[tr]=AtCore Test İstemcisi
Name[uk]=Тестовий клієнт AtCore
Name[x-test]=xxAtCore Test Clientxx
Exec=AtCoreTest
Icon=AtCoreTest
Categories=Graphics;Qt;
StartupNotify=true
Terminal=false
Type=Application
