#SPDX-FileCopyrightText: none
#SPDX-License-Identifier: CC0-1.0
[Desktop Entry]
Name=AtCore Test Client
Name[ar]=عميل اختبار AtCore
Name[ca]=Client de prova de l'AtCore
Name[ca@valencia]=Client de prova d'AtCore
Name[cs]=Testovací klient AtCore
Name[da]=AtCore-testklient
Name[de]=AtCore-Testprogramm
Name[el]=Εφαρμογή δοκιμής AtCore
Name[en_GB]=AtCore Test Client
Name[eo]=AtCore-Testkliento
Name[es]=Cliente de prueba de AtCore
Name[et]=AtCore testimise klient
Name[eu]=AtCore probatzeko bezeroa
Name[fi]=AtCore – koeasiakas
Name[fr]=Client de test « AtCore »
Name[gl]=Cliente de probas de AtCore
Name[he]=לקוח לבדיקת AtCore
Name[hi]=AtCore परीक्षण ग्राहक
Name[ia]=Cliente de prova de AtCore
Name[it]=Client di prova per AtCore
Name[ka]=AtCore -ის სატესტო კლიენტი
Name[ko]=AtCore 테스트 클라이언트
Name[nl]=AtCore testclient
Name[nn]=AtCore testklient
Name[pl]=Klient testowy AtCore
Name[pt]=Cliente de Testes do AtCore
Name[pt_BR]=Cliente de teste AtCore
Name[ro]=Client de test AtCore
Name[ru]=Тестовый клиент AtCore
Name[sk]=AtCore Test Klient
Name[sl]=Preizkusni odjemalec AtCore
Name[sv]=AtCore testklient
Name[tr]=AtCore Sınama İstemcisi
Name[uk]=Тестовий клієнт AtCore
Name[zh_CN]=AtCore 测试客户端
Name[zh_TW]=AtCore 測試用戶端
Exec=atcore-gui
Icon=org.kde.atcore
Categories=Graphics;Qt;
StartupNotify=true
Terminal=false
Type=Application
